@import 'node_modules/jeet/styl';
body
  margin: 0;
  padding: 0;

.container
  color: whitesmoke;
  center()

.sidebar
  span(1/3);
  background-color: chocolate;
  height: 100%;

.content
  span(2/3)
