.app-header {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Pacifico', cursive;
  font-size: 50px; }
  .app-header::after {
    content: '';
    display: table;
    clear: both; }

.social-media {
  width: auto;
  max-width: 0px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .social-media::after {
    content: '';
    display: table;
    clear: both; }

body {
  margin: 0;
  padding: 0;
  font-family: "Bellefair", serif;
  background-color: #85144B;
  color: #7FDBFF;
  width: auto;
  max-width: 575px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  body::after {
    content: '';
    display: table;
    clear: both; }

fa {
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: 0%;
  line-height: 20px; }
  fa::after {
    content: '';
    display: table;
    clear: both; }
