html, body{
  color: whitesmoke;
}
.container-fluid{
  margin-left: 0px;
  margin-right: 0px;
}
.nav-sidebar a {
    color: whitesmoke;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
